body {
	background-color: grey;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	max-width: 100%;
}

.Points>div {
	background-color: blue;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	max-width: 100%;
}